.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    background: rgb(135,150,156);
    background: linear-gradient(0deg, rgba(135,150,156,0) 8%, rgba(0,0,0,0.9) 92%);
}
.image {
    max-width: 60vw;
    margin: 15px;
}
.button {
    position: absolute;
    align-items: center;
    text-decoration: none;
    left: 5%;
}
.imageBack {
    width: 50px;
}