.header {
    height: 250px;
    width: auto;
    margin-bottom: 30px;
    background-image: url(../assets/headerRickAndMorty.png);
    background-repeat: no-repeat;
    box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.5);
}